
section {
    width: 100%;   
}

div.item {
    width: 23%;
   
}



@media (max-width: 991px) {
    div.item {
        width: 46%;
/*        height: auto;*/
    }
}

@media (max-width: 479px) {
    div.item {
        width: 100%;
/*        height: auto;*/
    }
}
