
body {
    width: 100%;
}

div.item-mask {
    width: 24%;
}



@media (max-width: 991px) {
    .item-mask {
        width: 50%;
    }
}

@media (max-width: 479px) {
    .item-mask {
        width: 100%;
    }
}
