* {
    box-sizing: border-box;
}

body {
    background-color: #98fb98;
    margin: 0;
    padding: 0;
    
}
section {
    margin: 0 auto;
	text-align: center;
    width: 1366px;
    height: auto;
}

div.item {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 150px 10px 10px 10px;
    

}

div.item-mask {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(255, 111, 0, 0.8);
    opacity: 0;
}

.item-mask:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

div#kwadrat1 {
    background-image: url("../img/product-1.jpg");
    

}

div#kwadrat2 {
    background-image: url("../img/product-2.jpg");
}

div#kwadrat3 {
    background-image: url("../img/product-3.jpg");
}

div#kwadrat4 {
    background-image: url("../img/product-4.jpg");
}

a.link {
    
    position: absolute;
    color: white;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
